.container{
    margin: auto;
    width:400px;
    display: flex;
    flex-direction: column;
}

.input_display{
    width:100%;
    background-color: rgb(0,0,0);
}
.input_field{
    padding: 20px 5px;
    text-align: right;
    color: white;
    font-size: 40px;
    font-family: "Courier New", Courier, monospace;
}
.input_button_row2{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.input_button_row3{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr;
    justify-content: center;
    align-items: center;
}
.input_button_row1{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.button_properties{
    background-color: rgb(216,217,219);
    border: 1px solid black;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.button_padding{
    padding:25px 17px;
}
.button_properties:last-child{
    background-color:rgb(223,151,76);
    border-right: none;
    color: white;
}
.button_properties:first-child{
    border-left: none;
}
 .input_button_row3 .button_properties{
    border-bottom: none;
 }

 .button_properties:hover{
    background-color: #ebebeb;
 }
 .button_properties:last-child:hover{
    background-color: #dfb07e;
 }
